---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---
{% include JB/setup %}

{% unless site.tags == empty %}

<i class="icon-tags icon-large"></i>
<ul class="tag_box">
{% assign tags_list = site.tags %}
{% assign count = true %}
{% include JB/tags_list %}
</ul>

<h2 style="margin-top: 20px">Posts by tag</h2>
{% for tag in site.tags %} 
  <h3 id="{{ tag[0] }}-ref">{{ tag[0] }}</h3>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}

{% endunless %}

